.sidebar {
  width: 240px;

  background: white;

  border-right: 1px solid #f3f3f3;

  padding: 20px;

  display: flex;
  flex-direction: column;

  gap: 18px;

  transition: left 0.3s ease;

  z-index: 1000;
}

.sidebar h3 {
  margin-bottom: 20px;
}

.sidebar a {
  text-decoration: none;

  color: #374151;

  font-weight: 500;

  transition: 0.2s;
}

.sidebar a:hover {
  color: #75da36;
}

/* Tablet & Mobile */

@media (max-width: 768px) {
  .sidebar {
    position: fixed;

    top: 0;
    left: -260px;

    width: 240px;
    height: 100vh;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);

    padding-top: 24px;
  }

  .sidebar.sidebar-open {
    left: 0;
  }
}