* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

body {
  background: #f8fafc;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

.btn {
  height: 36px;
  padding: 0 20px;
  border: none;
  text-align: center;
  align-items: center;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-primary {
  background: #9fe870;
  color: #111827;
}

.btn-primary:hover {
  opacity: 0.95;
}

.btn-secondary {
  background: #f3f4f6;
  color: #111827;
}

.btn-danger {
  background: #ef4444;
  color: white;
}

input,
select {
  height: 48px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 0 14px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}